.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #7a06ac;
  position: sticky;
  top: 10;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 20px;
  margin-top: 20px;
  height: 60px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}



.header__optionLineOne {
  margin-left: 50px;
  font-size: 15px;
}

.header__optionLineTwo {
  margin-left: 50px;
  font-size: 15px;
  font-weight: 800;
}

.header__BoptionLineOne {
  margin-left: 250px;
  font-size: 15px;
}

.header__BoptionLineTwo {
  margin-left: 250px;
  font-size: 15px;
  font-weight: 500;
}

.header__optionBasket {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: rgba(16, 239, 64, 0.942);
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 0px;
  margin-top:0px;
  
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
